streamlit
requests
pandas
python-dotenv
streamlit-option-menu
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
qdrant-client
openai
pydantic
pydantic-settings
fastembed
llama-cloud-services==0.6.69
llama-index==0.9.29
transformers